// LIGHT THEME COLORS
$main-bg-color-light: #f0f2f5;
$header-bg-color-light: #ffffff;
$nav-link-color-light: #0078ae;
$nav-link-color-active-light: #25afef;
$primary-color-light: #f97b22;
$border-color-light: #ced0d4;
$primary-text-light: #050505;
$secondary-text-light: #65676b;
$logo-color: #0078ae;

// DARK THEME COLORS
$main-bg-color-dark: #18191a;
$header-bg-color-dark: #242526;
$nav-link-color-dark: #0078ae;
$nav-link-color-active-dark: #014f74;
$primary-color-dark: #f97b22;
$border-color-dark: #393a3b;
$primary-text-dark: #e4e6eb;
$secondary-text-dark: #b0b3b8;
