// devices
$xsmall: 400px;
$small: 700px;
$medium: 1200px;

// COLORS
$primary-color: #f97b22;
$nav-link-color: #fff6e0;
$nav-link-color-active: #aa8b56;

// DIMENSIONS
$header-height-large: 70px;
$header-height-small: 50px;

// mixins
@mixin flex-hv-space-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-hv-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
