@import './normalize';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Quicksand, sans-serif;
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }
}

.App-dark,
.App-light {
  background-color: var(--main-bg-color);
}

section {
  --aside-max-width: 250px;
  --aside-min-width: 360px;
  --desktop-main-max-width: 1200px;

  padding-top: $header-height !important;
  color: var(--primary-text);
  min-height: 100vh;

  main {
    width: 100%;
  }
  aside > div:first-child {
    position: sticky;
    top: $header-height;
    max-height: calc(100vh - $header-height);
    overflow: auto;
    padding: 2rem;
  }

  @include tablet {
    display: flex;

    aside {
      min-width: var(--aside-min-width);
      max-width: var(--aside-max-width);
    }
  }

  @include desktop {
    max-width: var(--desktop-main-max-width);
    margin: 0 auto;
  }
}
