@import './variables';

header {
  background-color: $primary-color;
  height: $header-height-mobile;
  @include flex-hv-space-between-center;

  nav {
    height: 100%;
    display: flex;

    a {
      color: $nav-link-color;
      height: 100%;
      @include flex-hv-center;
      font-size: 1.3rem;
      flex-direction: column;
      text-decoration: none;
      padding: 0 0.5rem;

      i {
        padding: 0 0.5rem;
        margin-right: 0;
      }

      span {
        font-size: 0.8rem;
      }

      &:hover,
      &.active {
        background-color: #ffffff;
        color: $nav-link-color-active;
      }
    }
  }

  .logo {
    padding-left: 0.25rem;

    img {
      height: 40px;
    }
  }

  .mode-toggle {
    padding-right: 0.25rem;
    cursor: pointer;
  }


  @include tablet {
    height: $header-height-tablet;

    .logo {
      padding-left: 1rem;

      img {
        height: 50px;
      }
    }

    .mode-toggle {
      padding-right: 1rem;
    }
  }

  @include desktop {
    height: $header-height-desktop;

    nav {
      a {
        font-size: 1rem;
        flex-direction: row;
      }
    }
  }
}
