@use 'variables' as *;
@use 'themes' as *;

header {
  background-color: var(--header-bg-color);
  height: $header-height;
  @include flex-hv-space-between-center;
  padding: 0 1rem;
  position: relative;

  nav {
    position: absolute;
    top: $header-height;
    left: 0;
    transition: left 0.3s ease-in-out;
    z-index: 1;
    background-color: var(--main-bg-color);
    width: 100%;
    height: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    a {
      color: var(--nav-link-color);
      height: 100%;
      margin: 0.1rem;
      padding: 1rem 0.5rem;
      text-decoration: none;
      @include flex-hv-center;

      i {
        font-size: 1.4rem;
        padding: 0 0.5rem;
        margin-right: 0;
      }

      &:hover,
      &.active {
        background-color: var(--primary-text);
        color: var(--nav-link-color-active);
      }
    }
    &.hide {
      left: -100%;
    }
  }
  .logo {
    @include flex-hv-center;
    a {
      img {
        height: calc($header-height * 0.7);
      }
    }
    .mobile-menu {
      margin-left: 1rem;
      color: var(--nav-link-color);
      font-size: 2rem;
      cursor: pointer;
    }
  }

  @include tablet {
    .logo {
      padding-left: 1rem;
    }
    .menu-button {
      display: none;
    }

    nav {
      position: initial;
      background-color: transparent;
      width: auto;
      padding: 0;
      flex-direction: row;
      a {
        padding: 0;
        margin: 0;

        i {
          font-size: 1.4rem;
          padding: 0 0.5rem;
          margin-right: 0;
        }

        &:hover,
        &.active {
          background-color: transparent;
          color: var(--nav-link-color-active);
        }
      }
      &.hide {
        left: 0;
      }
    }
  }
  @include desktop {
    nav {
      a {
        font-size: 1rem;
        flex-direction: row;
      }
    }
  }
}
