@use 'variables' as *;

.Home {
  .meal-type-menu {
    position: sticky;
    top: $header-height;
    max-height: calc(100vh - $header-height);
    overflow: auto;
    padding: 2rem;
    .meal {
      cursor: pointer;
      @include flex-hv-center;
      justify-content: start;
      padding: 0.5rem;
      border-radius: 0.5rem;

      img {
        width: 40px;
        height: 40px;
      }
      span {
        font-size: 1.2rem;
        margin-left: 1rem;
      }

      &:hover,
      &.active {
        background-color: var(--hover-bg-color);
      }
    }
  }
}
