@import './variables';

.RecipeCard {
  width: 250px;
  height: 320px;
  margin: 1rem;
  border: 1px solid #d5d5d5;
  border-radius: 0.75rem;
  overflow: hidden;

  .thumbnail {
    width: 100%;
    height: 250px;

    background-position: center;
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .label {
    width: 100%;
    padding: 0.5rem;
  }

  @include tablet {
    width: 300px;
    height: 370px;
    .thumbnail {
      height: 300px;
    }
    .label {
      padding: 0.5rem;
    }
  }
  @include desktop {
    width: 320px;
    height: 430px;
    .thumbnail {
      height: 350px;
    }
    .label {
      padding: 0.5rem;
    }
  }
}
