@import './variables';

.RecipeCard {
  width: 300px;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary-text);
  background-color: var(--recipe-card-bg-color);

  .thumbnail {
    background-position: center;
    background-size: cover;

    position: relative;

    img {
      border-radius: 1rem;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.1);
    }
    .tags {
      position: absolute;
      bottom: 20px;
      left: 20px;

      display: flex;

      .cal,
      .cuisine-type {
        background-color: var(--logo-color);
        color: white;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
        margin-right: 0.3rem;
      }
    }
  }
  .label,
  .footer {
    padding: 0.5rem;
  }

  .footer {
    @include flex-hv-space-between-center;
    .source {
      font-size: 0.9rem;
    }
    .save {
      font-size: 1.2rem;
      .saved-icon {
        color: var(--logo-color);
      }
    }
  }

  @include tablet {
  }

  @include desktop {
  }
}
