.SearchRecipesForm {
  max-height: calc(70vh);
  overflow: auto;

  .form {
    input,
    select {
      width: 100%;
      outline: none;
      height: 2rem;
      border-radius: 0.25rem;
      border: none;
      border: 1px solid var(--border-color);
      padding: 0 0.5rem;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    .group {
      margin: 1rem 0;

      .slider {
        input {
          border: none;
        }
      }

      .min-max {
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .min,
        .max {
          display: flex;
          align-items: center;

          label {
            margin-right: 0.5rem;
          }
        }

        input {
          width: 50px;
          text-align: center;
        }
      }

      label {
        display: block;
        margin: 1rem 0;
      }
    }

    .exclude-ingredients-form,
    .include-ingredients-form {
      .included-ingredients,
      .excluded-ingredients {
        display: flex;
        flex-wrap: wrap;

        span {
          padding: 0.5rem;
          margin: 0.25rem;
          border-radius: 0.25rem;
          max-width: 100%;
          word-break: break-all;

          border: 1px solid var(--logo-color);
          cursor: pointer;
          transition: all 200ms ease-in-out;
          position: relative;

          &::after {
            width: 3rem;
            text-align: center;
            font-size: 0.8rem;
            content: 'remove';
            display: none;
            position: absolute;
            top: -2rem;
            left: 0;
            padding: 0.25rem;
            background-color: var(--header-bg-color);
            background-color: var(--primary-text);
            border-radius: 0.25rem;
          }

          &:hover {
            background-color: var(--logo-color);
            color: var(--header-bg-color);
          }

          &:hover::after {
            display: block;
          }
        }
      }

      .inputs {
        display: flex;

        input {
          flex: 1;
          margin-right: 0.5rem;
        }

        button {
          font-size: 1.5rem;
          cursor: pointer;
          width: 40px;
          background-color: transparent;
          border: none;
          border: 1px solid var(--logo-color);
          border-radius: 0.25rem;
          background-color: var(--border-color);
          color: var(--logo-color);
          transition: all 200ms ease-in-out;

          &:hover {
            background-color: var(--logo-color);
            color: var(--border-color);
          }
        }
      }
    }

    .submit {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;

      .btn {
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;

        border: 1px solid var(--logo-color);
        background-color: var(--logo-color);
        color: var(--border-color);
        transition: filter 200ms ease-in-out;

        &:hover {
          filter: brightness(115%);
        }
      }
    }

    .advanced-search-btn {
      i {
        transform: rotate(90deg);

        &.rotate {
          transform: rotate(180deg);
        }
      }

      span {
        &:hover {
          cursor: pointer;
        }

        i::before {
          transform: rotate(0deg);
          transition: transform 0.5s ease-in-out;
        }

        &.rotate {
          i::before {
            transform: rotate(-180deg);
          }
        }
      }
    }

    .advanced-search-container {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-in-out;

      .advanced-search {
        overflow: hidden;
      }

      &.active {
        grid-template-rows: 1fr;
      }
    }
  }
}
