@use 'variables' as *;

.Terms {
  display: block;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;

  h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  ul {
    padding: 0 2rem;
  }

  @include tablet {
    max-width: $desktop-min-width;
  }
}
